{"swagger":"2.0","info":{"version":"v1","title":"I2A UI Webapi","description":"Welcome to the I2A UI Webapi.Thanks for reading our documentation!","contact":{"name":"Contact IDECSI","url":"http://www.idecsi.com","email":"contact@idecsi.com"}},"host":"demo01.ws.i-2a.dev","basePath":"/apis/v1/","schemes":["http"],"paths":{"/Account/Me":{"get":{"tags":["Account"],"operationId":"Account_Me","consumes":[],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"type":"string"}}}}}},"/Alert/Summary/Page":{"get":{"tags":["Alert"],"operationId":"Alert_LoadPageBypageSizepageIndexuserIdtypeproviderIdproviderTypeIdproviderInstanceIdproviderInstanceResourceIdisOpened","consumes":[],"produces":["application/json"],"parameters":[{"name":"pageSize","in":"query","description":"The page size","required":true,"type":"integer","format":"int32"},{"name":"pageIndex","in":"query","description":"The page index","required":true,"type":"integer","format":"int32"},{"name":"userId","in":"query","description":"GUID","required":false,"type":"string","format":"uuid"},{"name":"type","in":"query","required":false,"type":"string"},{"name":"providerId","in":"query","description":"GUID","required":false,"type":"string","format":"uuid"},{"name":"providerTypeId","in":"query","description":"GUID","required":false,"type":"string","format":"uuid"},{"name":"providerInstanceId","in":"query","description":"GUID","required":false,"type":"string","format":"uuid"},{"name":"providerInstanceResourceId","in":"query","description":"GUID","required":false,"type":"string","format":"uuid"},{"name":"isOpened","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PageResultModel[AlertSummaryModel]"}}}}},"/Alert/AlertCount":{"get":{"tags":["Alert"],"operationId":"Alert_AlertCountByuserIdtypeproviderIdproviderTypeIdproviderInstanceIdproviderInstanceResourceIdisOpened","consumes":[],"produces":["application/json"],"parameters":[{"name":"userId","in":"query","description":"GUID","required":false,"type":"string","format":"uuid"},{"name":"type","in":"query","required":false,"type":"string"},{"name":"providerId","in":"query","description":"GUID","required":false,"type":"string","format":"uuid"},{"name":"providerTypeId","in":"query","description":"GUID","required":false,"type":"string","format":"uuid"},{"name":"providerInstanceId","in":"query","description":"GUID","required":false,"type":"string","format":"uuid"},{"name":"providerInstanceResourceId","in":"query","description":"GUID","required":false,"type":"string","format":"uuid"},{"name":"isOpened","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/Alert/TrusteeAlertCount":{"get":{"tags":["Alert"],"operationId":"Alert_AlertCountBytypeproviderIdproviderTypeIdproviderInstanceIdproviderInstanceResourceIdisOpened","consumes":[],"produces":["application/json"],"parameters":[{"name":"type","in":"query","required":false,"type":"string"},{"name":"providerId","in":"query","description":"GUID","required":false,"type":"string","format":"uuid"},{"name":"providerTypeId","in":"query","description":"GUID","required":false,"type":"string","format":"uuid"},{"name":"providerInstanceId","in":"query","description":"GUID","required":false,"type":"string","format":"uuid"},{"name":"providerInstanceResourceId","in":"query","description":"GUID","required":false,"type":"string","format":"uuid"},{"name":"isOpened","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/AlertCountModel"}}}}}},"/Alert/Access/{alertId}":{"get":{"tags":["Alert"],"operationId":"Alert_AccessAlertByalertId","consumes":[],"produces":["application/json"],"parameters":[{"name":"alertId","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AlertAccessFeaturedModel"}}}}},"/Alert/Access/{alertId}/EvaluatedRules":{"get":{"tags":["Alert"],"operationId":"Alert_EvaluatedRulesByalertId","consumes":[],"produces":["application/json"],"parameters":[{"name":"alertId","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AlertAccessEvaluatedRulesModel"}}}}},"/Alert/Config/{alertId}":{"get":{"tags":["Alert"],"operationId":"Alert_ConfigAlertByalertId","consumes":[],"produces":["application/json"],"parameters":[{"name":"alertId","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AlertConfigFeaturedModel"}}}}},"/Alert/{alertId}/Summary":{"get":{"tags":["Alert"],"operationId":"Alert_LoadSummaryByalertId","consumes":[],"produces":["application/json"],"parameters":[{"name":"alertId","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AlertSummaryModel"}}}}},"/Alert/{alertId}/Dismiss":{"post":{"tags":["Alert"],"operationId":"Alert_DismissByalertIdmodel","consumes":["application/json"],"produces":[],"parameters":[{"name":"alertId","in":"path","required":true,"type":"string","format":"uuid"},{"name":"model","in":"body","required":true,"schema":{"$ref":"#/definitions/AlertDismissModel"}}],"responses":{"204":{"description":"No Content"}}}},"/Alert/Dismiss":{"post":{"tags":["Alert"],"operationId":"Alert_DismissAlertsBymodel","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"model","in":"body","required":true,"schema":{"$ref":"#/definitions/AlertListDismissModel"}}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"format":"uuid","type":"string"}}}}}},"/Alert/{alertId}/Comment":{"post":{"tags":["Alert"],"operationId":"Alert_AddCommentByalertIdmodel","consumes":["application/json"],"produces":[],"parameters":[{"name":"alertId","in":"path","required":true,"type":"string","format":"uuid"},{"name":"model","in":"body","required":true,"schema":{"$ref":"#/definitions/AlertAddCommentModel"}}],"responses":{"204":{"description":"No Content"}}}},"/Alert/{alertId}/DeviceComment":{"post":{"tags":["Alert"],"operationId":"Alert_AddDeviceCommentByalertIdmodel","consumes":["application/json"],"produces":[],"parameters":[{"name":"alertId","in":"path","required":true,"type":"string","format":"uuid"},{"name":"model","in":"body","required":true,"schema":{"$ref":"#/definitions/AlertAddDeviceCommentModel"}}],"responses":{"204":{"description":"No Content"}}}},"/Auth/SignOut":{"delete":{"tags":["Auth"],"operationId":"Auth_SignOut","consumes":[],"produces":[],"responses":{"204":{"description":"No Content"}}}},"/Auth/Provider/{provider}/SignIn":{"get":{"tags":["Auth"],"operationId":"Auth_SignInByproviderredirectUri","consumes":[],"produces":["application/json"],"parameters":[{"name":"provider","in":"path","required":true,"type":"string"},{"name":"redirectUri","in":"query","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/Auth/Provider/{provider}/CrossSignIn":{"get":{"tags":["Auth"],"operationId":"Auth_CrossSignInByproviderredirectUritenantId","consumes":[],"produces":["application/json"],"parameters":[{"name":"provider","in":"path","required":true,"type":"string"},{"name":"redirectUri","in":"query","required":true,"type":"string"},{"name":"tenantId","in":"query","description":"GUID","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/Auth/Provider/{provider}/ExternalLoginCallback":{"get":{"tags":["Auth"],"operationId":"Auth_ExternalLoginCallbackByproviderreturnUrl","consumes":[],"produces":["application/json"],"parameters":[{"name":"provider","in":"path","required":true,"type":"string"},{"name":"returnUrl","in":"query","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/Auth/Cypher":{"get":{"tags":["Auth"],"operationId":"Auth_CypherBycypher","consumes":[],"produces":["application/json"],"parameters":[{"name":"cypher","in":"query","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/OAUTH2Response"}}}}},"/Auth/Remove":{"delete":{"tags":["Auth"],"operationId":"Auth_RemoveByuserAuthenticationId","consumes":[],"produces":["application/json"],"parameters":[{"name":"userAuthenticationId","in":"query","description":"GUID","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}}}}},"/Auth/User/{userId}":{"get":{"tags":["Auth"],"operationId":"Auth_SessionInfoByuserId","consumes":[],"produces":["application/json"],"parameters":[{"name":"userId","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AuthSessionInfoModel"}}}},"delete":{"tags":["Auth"],"operationId":"Auth_RevokeAllByUserIdByuserId","consumes":[],"produces":["application/json"],"parameters":[{"name":"userId","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}}}}},"/Auth/Provider/Google/Add":{"post":{"tags":["Auth"],"operationId":"Auth_AddGoogleBymodel","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"model","in":"body","required":true,"schema":{"$ref":"#/definitions/UserAuthenticationGoogleCreateModel"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/UserAuthenticationModel"}}}}},"/Auth/Provider/Local/Add":{"post":{"tags":["Auth"],"operationId":"Auth_AddLocalBymodel","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"model","in":"body","required":true,"schema":{"$ref":"#/definitions/UserAuthenticationLocalCreateModel"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/UserAuthenticationModel"}}}}},"/Auth/Provider/Local/ChangePassword":{"put":{"tags":["Auth"],"operationId":"Auth_ChangePasswordBymodel","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"model","in":"body","required":true,"schema":{"$ref":"#/definitions/ChangePasswordModel"}}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}}}}},"/Auth/Provider/Local/ForgotPassword":{"post":{"tags":["Auth"],"operationId":"Auth_ForgotPasswordByemail","consumes":[],"produces":["application/json"],"parameters":[{"name":"email","in":"query","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}}}}},"/Auth/Provider/Local/ResetPassword":{"post":{"tags":["Auth"],"operationId":"Auth_ResetPasswordBymodel","consumes":["application/json"],"produces":[],"parameters":[{"name":"model","in":"body","required":true,"schema":{"$ref":"#/definitions/ResetPasswordModel"}}],"responses":{"204":{"description":"No Content"}}}},"/Provider/Box/Authorize":{"get":{"tags":["BoxProvider"],"operationId":"BoxProvider_AuthorizeBycodestate","consumes":[],"produces":["application/json"],"parameters":[{"name":"code","in":"query","required":true,"type":"string"},{"name":"state","in":"query","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/Device/User/{userId}":{"get":{"tags":["Device"],"operationId":"Device_LoadByUserByuserId","consumes":[],"produces":["application/json"],"parameters":[{"name":"userId","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/DeviceModel"}}}}}},"/Provider/Dropbox/Authorize":{"get":{"tags":["DropboxProvider"],"operationId":"DropboxProvider_AuthorizeBycodestate","consumes":[],"produces":["application/json"],"parameters":[{"name":"code","in":"query","required":true,"type":"string"},{"name":"state","in":"query","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/Provider/Microsoft/Exchange/Protect/{providerInstanceId}":{"post":{"tags":["Exchange"],"operationId":"Exchange_ProtectByproviderInstanceIdmodel","consumes":["application/json"],"produces":[],"parameters":[{"name":"providerInstanceId","in":"path","required":true,"type":"string","format":"uuid"},{"name":"model","in":"body","required":true,"schema":{"$ref":"#/definitions/ExchangeProtectResourcesModel"}}],"responses":{"204":{"description":"No Content"}}}},"/IPRange/{ipRangeId}":{"get":{"tags":["IPRange"],"operationId":"IPRange_LoadByipRangeId","consumes":[],"produces":["application/json"],"parameters":[{"name":"ipRangeId","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/IPRangeModel"}}}},"post":{"tags":["IPRange"],"operationId":"IPRange_UpdateIPRangeByipRangeIdupdateModel","consumes":["application/json"],"produces":[],"parameters":[{"name":"ipRangeId","in":"path","required":true,"type":"string","format":"uuid"},{"name":"updateModel","in":"body","required":true,"schema":{"$ref":"#/definitions/IPRangeCreateOrUpdateModel"}}],"responses":{"204":{"description":"No Content"}}},"delete":{"tags":["IPRange"],"operationId":"IPRange_DeleteIPRangeByipRangeId","consumes":[],"produces":[],"parameters":[{"name":"ipRangeId","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"204":{"description":"No Content"}}}},"/IPRange":{"get":{"tags":["IPRange"],"operationId":"IPRange_SearchBynamepageSizepageIndex","consumes":[],"produces":["application/json"],"parameters":[{"name":"name","in":"query","required":true,"type":"string"},{"name":"pageSize","in":"query","description":"The page size","required":false,"type":"integer","format":"int32"},{"name":"pageIndex","in":"query","description":"The page index","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PageResultModel[IPRangeModel]"}}}}},"/IPRange/OrgUnit/{orgUnitId}":{"get":{"tags":["IPRange"],"operationId":"IPRange_LoadByOrgUnitByorgUnitIdincludeInherited","consumes":[],"produces":["application/json"],"parameters":[{"name":"orgUnitId","in":"path","required":true,"type":"string","format":"uuid"},{"name":"includeInherited","in":"query","required":true,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/IPRangeModel"}}}}},"put":{"tags":["IPRange"],"operationId":"IPRange_CreateOrgUnitIPRangeByorgUnitIdcreateModel","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"orgUnitId","in":"path","required":true,"type":"string","format":"uuid"},{"name":"createModel","in":"body","required":true,"schema":{"$ref":"#/definitions/IPRangeCreateOrUpdateModel"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/IPRangeModel"}}}}},"/IPRange/User/{userId}":{"get":{"tags":["IPRange"],"operationId":"IPRange_LoadByUserByuserIdincludeInherited","consumes":[],"produces":["application/json"],"parameters":[{"name":"userId","in":"path","required":true,"type":"string","format":"uuid"},{"name":"includeInherited","in":"query","required":true,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/IPRangeModel"}}}}},"put":{"tags":["IPRange"],"operationId":"IPRange_CreateUserIPRangeByuserIdcreateModel","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"userId","in":"path","required":true,"type":"string","format":"uuid"},{"name":"createModel","in":"body","required":true,"schema":{"$ref":"#/definitions/IPRangeCreateOrUpdateModel"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/IPRangeModel"}}}}},"/IPRange/Refresh":{"post":{"tags":["IPRange"],"operationId":"IPRange_Refresh","consumes":[],"produces":[],"responses":{"204":{"description":"No Content"}}}},"/Localization/Languages":{"get":{"tags":["Localization"],"operationId":"Localization_Languages","consumes":[],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"type":"string"}}}}}},"/Localization/Resources":{"get":{"tags":["Localization"],"operationId":"Localization_LoadResourcesByrequestercultureflat","consumes":[],"produces":["application/json"],"parameters":[{"name":"requester","in":"query","description":"|\r\n  \r\n  name | value\r\n  --- | ---\r\n  IPhone | 1\r\n  IPad | 2\r\n  Android | 3\r\n  WebSite | 4\r\n","required":true,"type":"integer","format":"int32","enum":[1,2,3,4]},{"name":"culture","in":"query","required":true,"type":"string"},{"name":"flat","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/Log":{"put":{"tags":["Log"],"operationId":"Log_EnqueueAppLogsBylogs","consumes":["application/json"],"produces":[],"parameters":[{"name":"logs","in":"body","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/Log"}}}],"responses":{"204":{"description":"No Content"}}}},"/Metric":{"put":{"tags":["Metric"],"operationId":"Metric_EnqueueMetricsByMetrics","consumes":["application/json"],"produces":[],"parameters":[{"name":"Metrics","in":"body","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/Metric"}}}],"responses":{"204":{"description":"No Content"}}}},"/Provider/Microsoft/Authorize":{"get":{"tags":["MicrosoftOfficeProvider"],"operationId":"MicrosoftOfficeProvider_AuthorizeBycodestate","consumes":[],"produces":["application/json"],"parameters":[{"name":"code","in":"query","required":true,"type":"string"},{"name":"state","in":"query","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/Provider/Microsoft/{providerInstanceId}":{"get":{"tags":["MicrosoftOfficeProvider"],"operationId":"MicrosoftOfficeProvider_LoadByproviderInstanceId","consumes":[],"produces":["application/json"],"parameters":[{"name":"providerInstanceId","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MicrosoftOfficeConfiguration"}}}}},"/Provider/Microsoft/Exchange/{providerInstanceId}":{"get":{"tags":["MicrosoftOfficeProvider"],"operationId":"MicrosoftOfficeProvider_LoadExchangeConfigurationByproviderInstanceId","consumes":[],"produces":["application/json"],"parameters":[{"name":"providerInstanceId","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ExchangeConfiguration"}}}}},"/Notification/Type/Push/RefreshRegistration":{"post":{"tags":["Notification"],"operationId":"Notification_RefreshPushRegistrationByregistration","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"registration","in":"body","required":true,"schema":{"$ref":"#/definitions/NotificationPushRegistrationModel"}}],"responses":{"200":{"description":"OK","schema":{"type":"string"}}}}},"/Notification/Test/Alert/{alertId}":{"post":{"tags":["Notification"],"operationId":"Notification_TestByalertId","consumes":[],"produces":[],"parameters":[{"name":"alertId","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"204":{"description":"No Content"}}}},"/Notification/Type/Push/Registrations/{userId}":{"get":{"tags":["Notification"],"operationId":"Notification_RegistrationsByuserId","consumes":[],"produces":["application/json"],"parameters":[{"name":"userId","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/NotificationPushRegistrationInfoModel"}}}}}},"/Operation/Protect":{"get":{"tags":["Operation"],"operationId":"Operation_GetProtectOperations","consumes":[],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/OperationBaseModel"}}}}}},"/Operation/Protect/{operationId}":{"get":{"tags":["Operation"],"operationId":"Operation_GetProtectOperationByoperationId","consumes":[],"produces":["application/json"],"parameters":[{"name":"operationId","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/OperationBaseModel"}}}}},"/Probe/Status":{"get":{"tags":["Probe"],"operationId":"Probe_Status","consumes":[],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"type":"string"}}}}}},"/Provider/Photo/{providerId}/{providerTypeId}/{providerInstanceId}":{"get":{"tags":["Provider"],"operationId":"Provider_PhotoByproviderIdproviderTypeIdproviderInstanceId","consumes":[],"produces":["application/json"],"parameters":[{"name":"providerId","in":"path","required":true,"type":"string","format":"uuid"},{"name":"providerTypeId","in":"path","required":true,"type":"string","format":"uuid"},{"name":"providerInstanceId","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/Provider/CollectedResource":{"get":{"tags":["Provider"],"operationId":"Provider_SearchBynameproviderIdproviderTypeIdproviderInstanceIdpageSizepageIndex","consumes":[],"produces":["application/json"],"parameters":[{"name":"name","in":"query","required":true,"type":"string"},{"name":"providerId","in":"query","description":"GUID","required":false,"type":"string","format":"uuid"},{"name":"providerTypeId","in":"query","description":"GUID","required":false,"type":"string","format":"uuid"},{"name":"providerInstanceId","in":"query","description":"GUID","required":false,"type":"string","format":"uuid"},{"name":"pageSize","in":"query","description":"The page size","required":false,"type":"integer","format":"int32"},{"name":"pageIndex","in":"query","description":"The page index","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PageResultModel[CollectedResourceModel]"}}}}},"/Provider/CollectedResource/User/{userId}":{"get":{"tags":["Provider"],"operationId":"Provider_LoadCollectedResourcesByuserId","consumes":[],"produces":["application/json"],"parameters":[{"name":"userId","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ProviderInstanceCoupleCollectedModel"}}}}}},"/Provider/CollectedResource/{providerId}/{providerTypeId}/{providerInstanceId}/{providerInstanceResourceId}":{"get":{"tags":["Provider"],"operationId":"Provider_LoadCollectedResourceByproviderIdproviderTypeIdproviderInstanceIdproviderInstanceResourceId","consumes":[],"produces":["application/json"],"parameters":[{"name":"providerId","in":"path","required":true,"type":"string","format":"uuid"},{"name":"providerTypeId","in":"path","required":true,"type":"string","format":"uuid"},{"name":"providerInstanceId","in":"path","required":true,"type":"string","format":"uuid"},{"name":"providerInstanceResourceId","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CollectedResourceModel"}}}}},"/Provider/CollectedResource/{providerId}/{providerTypeId}/{providerInstanceId}/{providerInstanceResourceId}/Promote":{"put":{"tags":["Provider"],"operationId":"Provider_PromoteAsUserByproviderIdproviderTypeIdproviderInstanceIdproviderInstanceResourceIdorgUnitIdsendEmailToUser","consumes":[],"produces":["application/json"],"parameters":[{"name":"providerId","in":"path","required":true,"type":"string","format":"uuid"},{"name":"providerTypeId","in":"path","required":true,"type":"string","format":"uuid"},{"name":"providerInstanceId","in":"path","required":true,"type":"string","format":"uuid"},{"name":"providerInstanceResourceId","in":"path","required":true,"type":"string","format":"uuid"},{"name":"orgUnitId","in":"query","description":"GUID","required":false,"type":"string","format":"uuid"},{"name":"sendEmailToUser","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/UserModel"}}}}},"/Provider/CollectedResource/{providerId}/{providerTypeId}/{providerInstanceId}/{providerInstanceResourceId}/OnePage":{"get":{"tags":["Provider"],"operationId":"Provider_OnePageReportByproviderIdproviderTypeIdproviderInstanceIdproviderInstanceResourceIdbeginDateendDate","consumes":[],"produces":["application/json"],"parameters":[{"name":"providerId","in":"path","required":true,"type":"string","format":"uuid"},{"name":"providerTypeId","in":"path","required":true,"type":"string","format":"uuid"},{"name":"providerInstanceId","in":"path","required":true,"type":"string","format":"uuid"},{"name":"providerInstanceResourceId","in":"path","required":true,"type":"string","format":"uuid"},{"name":"beginDate","in":"query","required":false,"type":"string","format":"date-time"},{"name":"endDate","in":"query","required":false,"type":"string","format":"date-time"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/Provider":{"get":{"tags":["Provider"],"operationId":"Provider_LoadAllProviders","consumes":[],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ProviderInstanceModel"}}}}}},"/Provider/Statistics/Resources/{providerId}/{providerTypeId}/{providerInstanceId}":{"get":{"tags":["Provider"],"operationId":"Provider_LoadResourceStatisticsByproviderIdproviderTypeIdproviderInstanceId","consumes":[],"produces":["application/json"],"parameters":[{"name":"providerId","in":"path","required":true,"type":"string","format":"uuid"},{"name":"providerTypeId","in":"path","required":true,"type":"string","format":"uuid"},{"name":"providerInstanceId","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ProviderInstanceStatisticsModel"}}}}},"/Provider/ProviderInstanceUser/{providerId}/{providerInstanceId}/{providerInstanceResourceId}":{"get":{"tags":["Provider"],"operationId":"Provider_LoadProviderInstanceUserByproviderIdproviderInstanceIdproviderInstanceResourceId","consumes":[],"produces":["application/json"],"parameters":[{"name":"providerId","in":"path","required":true,"type":"string","format":"uuid"},{"name":"providerInstanceId","in":"path","required":true,"type":"string","format":"uuid"},{"name":"providerInstanceResourceId","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ProviderInstanceUserModel"}}}}},"/ProviderAdminObject":{"get":{"tags":["ProviderAdminObject"],"operationId":"ProviderAdminObject_LoadByproviderIdproviderTypeIdproviderInstanceIdProviderInstanceItemIdtypeproviderInstancResourceId","consumes":[],"produces":["application/json"],"parameters":[{"name":"providerId","in":"query","description":"GUID","required":true,"type":"string","format":"uuid"},{"name":"providerTypeId","in":"query","description":"GUID","required":true,"type":"string","format":"uuid"},{"name":"providerInstanceId","in":"query","description":"GUID","required":true,"type":"string","format":"uuid"},{"name":"ProviderInstanceItemId","in":"query","required":true,"type":"string"},{"name":"type","in":"query","required":true,"type":"integer","format":"int32"},{"name":"providerInstancResourceId","in":"query","description":"GUID","required":false,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ProviderAdminObjectModel"}}}},"put":{"tags":["ProviderAdminObject"],"operationId":"ProviderAdminObject_EnqueueByproviderAdminObjects","consumes":["application/json"],"produces":[],"parameters":[{"name":"providerAdminObjects","in":"body","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/ProviderAdminObjectCreateEntity"}}}],"responses":{"204":{"description":"No Content"}}}},"/ProviderAdminObject/Search":{"get":{"tags":["ProviderAdminObject"],"operationId":"ProviderAdminObject_SearchByProviderInstanceItemIdproviderIdproviderTypeIdproviderInstanceIdproviderInstanceResourceIdtypebeginendpageSizepageIndex","consumes":[],"produces":["application/json"],"parameters":[{"name":"ProviderInstanceItemId","in":"query","required":false,"type":"string"},{"name":"providerId","in":"query","description":"GUID","required":false,"type":"string","format":"uuid"},{"name":"providerTypeId","in":"query","description":"GUID","required":false,"type":"string","format":"uuid"},{"name":"providerInstanceId","in":"query","description":"GUID","required":false,"type":"string","format":"uuid"},{"name":"providerInstanceResourceId","in":"query","description":"GUID","required":false,"type":"string","format":"uuid"},{"name":"type","in":"query","required":false,"type":"integer","format":"int32"},{"name":"begin","in":"query","required":false,"type":"string","format":"date-time"},{"name":"end","in":"query","required":false,"type":"string","format":"date-time"},{"name":"pageSize","in":"query","description":"The page size","required":false,"type":"integer","format":"int32"},{"name":"pageIndex","in":"query","description":"The page index","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PageResultModel[ProviderAdminObjectModel]"}}}}},"/ProviderAdminObject/LoadHistory":{"get":{"tags":["ProviderAdminObject"],"operationId":"ProviderAdminObject_LoadHistoryByproviderIdproviderTypeIdproviderInstanceIdProviderInstanceItemIdtypeproviderInstanceResourceIdpageSizepageIndex","consumes":[],"produces":["application/json"],"parameters":[{"name":"providerId","in":"query","description":"GUID","required":true,"type":"string","format":"uuid"},{"name":"providerTypeId","in":"query","description":"GUID","required":true,"type":"string","format":"uuid"},{"name":"providerInstanceId","in":"query","description":"GUID","required":true,"type":"string","format":"uuid"},{"name":"ProviderInstanceItemId","in":"query","required":true,"type":"string"},{"name":"type","in":"query","required":true,"type":"integer","format":"int32"},{"name":"providerInstanceResourceId","in":"query","description":"GUID","required":false,"type":"string","format":"uuid"},{"name":"pageSize","in":"query","description":"The page size","required":false,"type":"integer","format":"int32"},{"name":"pageIndex","in":"query","description":"The page index","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PageResultModel[ProviderAdminObjectModel]"}}}}},"/ProviderAdminObject/LoadFromHistory":{"get":{"tags":["ProviderAdminObject"],"operationId":"ProviderAdminObject_LoadFromHistoryByProviderAdminObjectsHistoryId","consumes":[],"produces":["application/json"],"parameters":[{"name":"ProviderAdminObjectsHistoryId","in":"query","description":"GUID","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ProviderAdminObjectModel"}}}}},"/ProviderAdminObject/LoadHistoryInterval":{"get":{"tags":["ProviderAdminObject"],"operationId":"ProviderAdminObject_LoadHistoryIntervalByproviderIdproviderTypeIdproviderInstanceIdProviderInstanceItemIdtyperefDateproviderInstanceResourceId","consumes":[],"produces":["application/json"],"parameters":[{"name":"providerId","in":"query","description":"GUID","required":true,"type":"string","format":"uuid"},{"name":"providerTypeId","in":"query","description":"GUID","required":true,"type":"string","format":"uuid"},{"name":"providerInstanceId","in":"query","description":"GUID","required":true,"type":"string","format":"uuid"},{"name":"ProviderInstanceItemId","in":"query","required":true,"type":"string"},{"name":"type","in":"query","required":true,"type":"integer","format":"int32"},{"name":"refDate","in":"query","required":true,"type":"string","format":"date-time"},{"name":"providerInstanceResourceId","in":"query","description":"GUID","required":false,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ProviderAdminObjectHistorySummaryModel"}}}}}},"/ProviderAudit":{"put":{"tags":["ProviderAudit"],"operationId":"ProviderAudit_EnqueueByproviderAudits","consumes":["application/json"],"produces":[],"parameters":[{"name":"providerAudits","in":"body","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/ProviderAuditCreateEntity"}}}],"responses":{"204":{"description":"No Content"}}}},"/ProviderAudit/Instance/Usage/{providerId}/{providerTypeId}/{providerInstanceId}":{"get":{"tags":["ProviderAudit"],"operationId":"ProviderAudit_LoadInstanceUsageByproviderIdproviderTypeIdproviderInstanceIdbeginendgranularity","consumes":[],"produces":["application/json"],"parameters":[{"name":"providerId","in":"path","required":true,"type":"string","format":"uuid"},{"name":"providerTypeId","in":"path","required":true,"type":"string","format":"uuid"},{"name":"providerInstanceId","in":"path","required":true,"type":"string","format":"uuid"},{"name":"begin","in":"query","required":true,"type":"string","format":"date-time"},{"name":"end","in":"query","required":true,"type":"string","format":"date-time"},{"name":"granularity","in":"query","description":"|\r\n  \r\n  name | value\r\n  --- | ---\r\n  Minute | 1\r\n  Hour | 2\r\n  Day | 3\r\n","required":true,"type":"integer","format":"int32","enum":[1,2,3]}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ProviderAuditUsageStatisticsModel"}}}}}},"/ProviderAudit/User/Usage/{providerId}/{providerInstanceId}/{userId}":{"get":{"tags":["ProviderAudit"],"operationId":"ProviderAudit_LoadUserUsageByproviderIdproviderInstanceIduserIdbeginendgranularity","consumes":[],"produces":["application/json"],"parameters":[{"name":"providerId","in":"path","required":true,"type":"string","format":"uuid"},{"name":"providerInstanceId","in":"path","required":true,"type":"string","format":"uuid"},{"name":"userId","in":"path","required":true,"type":"string","format":"uuid"},{"name":"begin","in":"query","required":true,"type":"string","format":"date-time"},{"name":"end","in":"query","required":true,"type":"string","format":"date-time"},{"name":"granularity","in":"query","description":"|\r\n  \r\n  name | value\r\n  --- | ---\r\n  Minute | 1\r\n  Hour | 2\r\n  Day | 3\r\n","required":true,"type":"integer","format":"int32","enum":[1,2,3]}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ProviderAuditUsageStatisticsModel"}}}}}},"/ProviderAudit/Resource/Usage/{providerId}/{providerTypeId}/{providerInstanceId}/{providerInstanceResourceId}":{"get":{"tags":["ProviderAudit"],"operationId":"ProviderAudit_LoadResourceUsageByproviderIdproviderTypeIdproviderInstanceIdproviderInstanceResourceIdbeginendgranularity","consumes":[],"produces":["application/json"],"parameters":[{"name":"providerId","in":"path","required":true,"type":"string","format":"uuid"},{"name":"providerTypeId","in":"path","required":true,"type":"string","format":"uuid"},{"name":"providerInstanceId","in":"path","required":true,"type":"string","format":"uuid"},{"name":"providerInstanceResourceId","in":"path","required":true,"type":"string","format":"uuid"},{"name":"begin","in":"query","required":true,"type":"string","format":"date-time"},{"name":"end","in":"query","required":true,"type":"string","format":"date-time"},{"name":"granularity","in":"query","description":"|\r\n  \r\n  name | value\r\n  --- | ---\r\n  Minute | 1\r\n  Hour | 2\r\n  Day | 3\r\n","required":true,"type":"integer","format":"int32","enum":[1,2,3]}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ProviderAuditUsageStatisticsModel"}}}}}},"/ProviderAudit/User/Activity/{providerId}/{providerInstanceId}/{userId}":{"get":{"tags":["ProviderAudit"],"operationId":"ProviderAudit_LoadUserActivityByproviderIdproviderInstanceIduserIdbeginend","consumes":[],"produces":["application/json"],"parameters":[{"name":"providerId","in":"path","required":true,"type":"string","format":"uuid"},{"name":"providerInstanceId","in":"path","required":true,"type":"string","format":"uuid"},{"name":"userId","in":"path","required":true,"type":"string","format":"uuid"},{"name":"begin","in":"query","required":true,"type":"string","format":"date-time"},{"name":"end","in":"query","required":true,"type":"string","format":"date-time"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/UserActivityModel"}}}}}},"/ProviderAudit/Resource/Activity/{providerId}/{providerTypeId}/{providerInstanceId}/{providerInstanceResourceId}":{"get":{"tags":["ProviderAudit"],"operationId":"ProviderAudit_LoadResourceActivityByproviderIdproviderTypeIdproviderInstanceIdproviderInstanceResourceIdbeginend","consumes":[],"produces":["application/json"],"parameters":[{"name":"providerId","in":"path","required":true,"type":"string","format":"uuid"},{"name":"providerTypeId","in":"path","required":true,"type":"string","format":"uuid"},{"name":"providerInstanceId","in":"path","required":true,"type":"string","format":"uuid"},{"name":"providerInstanceResourceId","in":"path","required":true,"type":"string","format":"uuid"},{"name":"begin","in":"query","required":true,"type":"string","format":"date-time"},{"name":"end","in":"query","required":true,"type":"string","format":"date-time"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ResourceActivityModel"}}}}}},"/ProviderAudit/Resource/Activity/{userId}":{"get":{"tags":["ProviderAudit"],"operationId":"ProviderAudit_LoadResourceActivityByUserByuserIdbeginend","consumes":[],"produces":["application/json"],"parameters":[{"name":"userId","in":"path","required":true,"type":"string","format":"uuid"},{"name":"begin","in":"query","required":true,"type":"string","format":"date-time"},{"name":"end","in":"query","required":true,"type":"string","format":"date-time"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ResourceActivityModel"}}}}}},"/ProviderAudit/Page":{"get":{"tags":["ProviderAudit"],"operationId":"ProviderAudit_LoadPageBypageSizepageIndexproviderIdproviderTypeIdproviderInstanceIdproviderInstanceResourceIdlogonUserIdaccessModesclientIPbeginendattachedToAlert","consumes":[],"produces":["application/json"],"parameters":[{"name":"pageSize","in":"query","description":"The page size","required":true,"type":"integer","format":"int32"},{"name":"pageIndex","in":"query","description":"The page index","required":true,"type":"integer","format":"int32"},{"name":"providerId","in":"query","description":"GUID","required":false,"type":"string","format":"uuid"},{"name":"providerTypeId","in":"query","description":"GUID","required":false,"type":"string","format":"uuid"},{"name":"providerInstanceId","in":"query","description":"GUID","required":false,"type":"string","format":"uuid"},{"name":"providerInstanceResourceId","in":"query","description":"GUID","required":false,"type":"string","format":"uuid"},{"name":"logonUserId","in":"query","required":false,"type":"string"},{"name":"accessModes","in":"query","required":false,"type":"string"},{"name":"clientIP","in":"query","required":false,"type":"string"},{"name":"begin","in":"query","required":false,"type":"string","format":"date-time"},{"name":"end","in":"query","required":false,"type":"string","format":"date-time"},{"name":"attachedToAlert","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PageResultModel[ProviderAuditCompleteModel]"}}}}},"/ProviderAudit/Export":{"get":{"tags":["ProviderAudit"],"operationId":"ProviderAudit_ExportByproviderIdproviderTypeIdproviderInstanceIdproviderInstanceResourceIdlogonUserIdaccessModesclientIPbeginend","consumes":[],"produces":["application/json"],"parameters":[{"name":"providerId","in":"query","description":"GUID","required":false,"type":"string","format":"uuid"},{"name":"providerTypeId","in":"query","description":"GUID","required":false,"type":"string","format":"uuid"},{"name":"providerInstanceId","in":"query","description":"GUID","required":false,"type":"string","format":"uuid"},{"name":"providerInstanceResourceId","in":"query","description":"GUID","required":false,"type":"string","format":"uuid"},{"name":"logonUserId","in":"query","required":false,"type":"string"},{"name":"accessModes","in":"query","required":false,"type":"string"},{"name":"clientIP","in":"query","required":false,"type":"string"},{"name":"begin","in":"query","required":false,"type":"string","format":"date-time"},{"name":"end","in":"query","required":false,"type":"string","format":"date-time"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/RemoteDataCollect/Configuration":{"get":{"tags":["RemoteDataCollect"],"operationId":"RemoteDataCollect_GetLatestConfiguration","consumes":[],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/WorkerConfiguration"}}}}},"/RemoteDataCollect/ScheduledTask":{"get":{"tags":["RemoteDataCollect"],"operationId":"RemoteDataCollect_GetNextScheduledTaskToExecute","consumes":[],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ScheduledTaskItem"}}}}},"/RemoteDataCollect/ScheduledTask/MarkAsChecked/{scheduledTaskItemId}":{"post":{"tags":["RemoteDataCollect"],"operationId":"RemoteDataCollect_MarkScheduledTaskItemAsCheckedByscheduledTaskItemId","consumes":[],"produces":[],"parameters":[{"name":"scheduledTaskItemId","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"204":{"description":"No Content"}}}},"/RemoteDataCollect/ScheduledTask/MarkAsFailed/{scheduledTaskItemId}":{"post":{"tags":["RemoteDataCollect"],"operationId":"RemoteDataCollect_MarkScheduledTaskItemAsFailedByscheduledTaskItemId","consumes":[],"produces":[],"parameters":[{"name":"scheduledTaskItemId","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"204":{"description":"No Content"}}}},"/RemoteDataCollect/ScheduledTask/MarkAsWorking/{scheduledTaskItemId}":{"post":{"tags":["RemoteDataCollect"],"operationId":"RemoteDataCollect_MarkScheduledTaskItemAsWorkingByscheduledTaskItemId","consumes":[],"produces":[],"parameters":[{"name":"scheduledTaskItemId","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"204":{"description":"No Content"}}}},"/RemoteDataCollect/FindResourceRequestResults":{"put":{"tags":["RemoteDataCollect"],"operationId":"RemoteDataCollect_EnqueueByrequestResult","consumes":["application/json"],"produces":[],"parameters":[{"name":"requestResult","in":"body","required":true,"schema":{"$ref":"#/definitions/FindResourceRequestResult"}}],"responses":{"204":{"description":"No Content"}}}},"/RoleGroup/Create":{"post":{"tags":["RoleGroup"],"operationId":"RoleGroup_CreateBymodel","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"model","in":"body","required":true,"schema":{"$ref":"#/definitions/RoleGroupCreateOrUpdateModel"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RoleGroupModel"}}}}},"/RoleGroup/{roleGroupId}":{"get":{"tags":["RoleGroup"],"operationId":"RoleGroup_LoadByroleGroupId","consumes":[],"produces":["application/json"],"parameters":[{"name":"roleGroupId","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RoleGroupModel"}}}},"put":{"tags":["RoleGroup"],"operationId":"RoleGroup_UpdateByroleGroupIdmodel","consumes":["application/json"],"produces":[],"parameters":[{"name":"roleGroupId","in":"path","required":true,"type":"string","format":"uuid"},{"name":"model","in":"body","required":true,"schema":{"$ref":"#/definitions/RoleGroupCreateOrUpdateModel"}}],"responses":{"204":{"description":"No Content"}}},"delete":{"tags":["RoleGroup"],"operationId":"RoleGroup_DeleteByroleGroupId","consumes":[],"produces":[],"parameters":[{"name":"roleGroupId","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"204":{"description":"No Content"}}}},"/RoleGroup":{"get":{"tags":["RoleGroup"],"operationId":"RoleGroup_LoadAll","consumes":[],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/RoleGroupModel"}}}}}},"/Rule/{ruleId}":{"get":{"tags":["Rule"],"operationId":"Rule_LoadByruleId","consumes":[],"produces":["application/json"],"parameters":[{"name":"ruleId","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RuleModel"}}}},"post":{"tags":["Rule"],"operationId":"Rule_UpdateRuleByruleIdrule","consumes":["application/json"],"produces":[],"parameters":[{"name":"ruleId","in":"path","required":true,"type":"string","format":"uuid"},{"name":"rule","in":"body","required":true,"schema":{"$ref":"#/definitions/RuleUpdateModel"}}],"responses":{"204":{"description":"No Content"}}},"delete":{"tags":["Rule"],"operationId":"Rule_DeleteRuleByruleId","consumes":[],"produces":[],"parameters":[{"name":"ruleId","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"204":{"description":"No Content"}}}},"/Rule/OrgUnit/{orgUnitId}/Domain/{domain}":{"get":{"tags":["Rule"],"operationId":"Rule_LoadByOrgUnitByorgUnitIddomain","consumes":[],"produces":["application/json"],"parameters":[{"name":"orgUnitId","in":"path","required":true,"type":"string","format":"uuid"},{"name":"domain","in":"path","description":"|\r\n  \r\n  name | value\r\n  --- | ---\r\n  Notification | 1\r\n  Access | 2\r\n","required":true,"type":"integer","format":"int32","enum":[1,2]}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/RuleSummaryModel"}}}}},"put":{"tags":["Rule"],"operationId":"Rule_CreateOrgUnitRuleByorgUnitIddomainrule","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"orgUnitId","in":"path","required":true,"type":"string","format":"uuid"},{"name":"domain","in":"path","description":"|\r\n  \r\n  name | value\r\n  --- | ---\r\n  Notification | 1\r\n  Access | 2\r\n","required":true,"type":"integer","format":"int32","enum":[1,2]},{"name":"rule","in":"body","required":true,"schema":{"$ref":"#/definitions/RuleCreateModel"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RuleSummaryModel"}}}}},"/Rule/User/{userId}/Domain/{domain}":{"get":{"tags":["Rule"],"operationId":"Rule_LoadByUserByuserIddomainincludeInheritedincludeRelatedToOthersResourceincludeRelatedtoUserResources","consumes":[],"produces":["application/json"],"parameters":[{"name":"userId","in":"path","required":true,"type":"string","format":"uuid"},{"name":"domain","in":"path","description":"|\r\n  \r\n  name | value\r\n  --- | ---\r\n  Notification | 1\r\n  Access | 2\r\n","required":true,"type":"integer","format":"int32","enum":[1,2]},{"name":"includeInherited","in":"query","required":false,"type":"boolean"},{"name":"includeRelatedToOthersResource","in":"query","required":false,"type":"boolean"},{"name":"includeRelatedtoUserResources","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/RuleSummaryModel"}}}}},"put":{"tags":["Rule"],"operationId":"Rule_CreateUserRuleByuserIddomainrule","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"userId","in":"path","required":true,"type":"string","format":"uuid"},{"name":"domain","in":"path","description":"|\r\n  \r\n  name | value\r\n  --- | ---\r\n  Notification | 1\r\n  Access | 2\r\n","required":true,"type":"integer","format":"int32","enum":[1,2]},{"name":"rule","in":"body","required":true,"schema":{"$ref":"#/definitions/RuleCreateModel"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RuleSummaryModel"}}}}},"/Rule/Resource/{providerId}/{providerTypeId}/{providerInstanceId}/{providerInstanceResourceId}":{"get":{"tags":["Rule"],"operationId":"Rule_LoadByResourceByproviderIdproviderTypeIdproviderInstanceIdproviderInstanceResourceId","consumes":[],"produces":["application/json"],"parameters":[{"name":"providerId","in":"path","required":true,"type":"string","format":"uuid"},{"name":"providerTypeId","in":"path","required":true,"type":"string","format":"uuid"},{"name":"providerInstanceId","in":"path","required":true,"type":"string","format":"uuid"},{"name":"providerInstanceResourceId","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/RuleSummaryModel"}}}}},"put":{"tags":["Rule"],"operationId":"Rule_CreateResourceRuleByproviderIdproviderTypeIdproviderInstanceIdproviderInstanceResourceIdruleuserId","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"providerId","in":"path","required":true,"type":"string","format":"uuid"},{"name":"providerTypeId","in":"path","required":true,"type":"string","format":"uuid"},{"name":"providerInstanceId","in":"path","required":true,"type":"string","format":"uuid"},{"name":"providerInstanceResourceId","in":"path","required":true,"type":"string","format":"uuid"},{"name":"rule","in":"body","required":true,"schema":{"$ref":"#/definitions/RuleCreateModel"}},{"name":"userId","in":"query","description":"GUID","required":false,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RuleSummaryModel"}}}}},"/Security/OrgUnit":{"get":{"tags":["Security"],"operationId":"Security_LoadAllOrgUnit","consumes":[],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/OrgUnitModel"}}}},"post":{"tags":["Security"],"operationId":"Security_CreateOrgUnitBymodel","consumes":["application/json"],"produces":[],"parameters":[{"name":"model","in":"body","required":true,"schema":{"$ref":"#/definitions/OrgUnitCreateOrUpdateModel"}}],"responses":{"204":{"description":"No Content"}}}},"/Security/OrgUnit/{orgUnitId}":{"get":{"tags":["Security"],"operationId":"Security_LoadOrgUnitByorgUnitId","consumes":[],"produces":["application/json"],"parameters":[{"name":"orgUnitId","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/OrgUnitModel"}}}},"put":{"tags":["Security"],"operationId":"Security_UpdateOrgUnitByorgUnitIdmodel","consumes":["application/json"],"produces":[],"parameters":[{"name":"orgUnitId","in":"path","required":true,"type":"string","format":"uuid"},{"name":"model","in":"body","required":true,"schema":{"$ref":"#/definitions/OrgUnitCreateOrUpdateModel"}}],"responses":{"204":{"description":"No Content"}}}},"/Security/OrgUnit/{orgUnitId}/HasRead":{"get":{"tags":["Security"],"operationId":"Security_HasReadByorgUnitId","consumes":[],"produces":["application/json"],"parameters":[{"name":"orgUnitId","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}}}}},"/Security/OrgUnit/{orgUnitId}/HasWrite":{"get":{"tags":["Security"],"operationId":"Security_HasWriteByorgUnitId","consumes":[],"produces":["application/json"],"parameters":[{"name":"orgUnitId","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}}}}},"/Provider/Slack/Authorize":{"get":{"tags":["SlackProvider"],"operationId":"SlackProvider_AuthorizeBycodestate","consumes":[],"produces":["application/json"],"parameters":[{"name":"code","in":"query","required":true,"type":"string"},{"name":"state","in":"query","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/User":{"get":{"tags":["User"],"operationId":"User_SearchBynameorgUnitIdisFavoritesecurityCheckpageSizepageIndex","consumes":[],"produces":["application/json"],"parameters":[{"name":"name","in":"query","required":true,"type":"string"},{"name":"orgUnitId","in":"query","description":"GUID","required":false,"type":"string","format":"uuid"},{"name":"isFavorite","in":"query","required":false,"type":"boolean"},{"name":"securityCheck","in":"query","required":false,"type":"boolean"},{"name":"pageSize","in":"query","description":"The page size","required":false,"type":"integer","format":"int32"},{"name":"pageIndex","in":"query","description":"The page index","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PageResultModel[UserModel]"}},"400":{"description":"BadRequest"}}}},"/User/Export":{"get":{"tags":["User"],"operationId":"User_ExportBynameinformationsorgUnitIdisFavorite","consumes":[],"produces":["application/json"],"parameters":[{"name":"name","in":"query","required":true,"type":"string"},{"name":"informations","in":"query","description":"|\r\n  \r\n  name | value\r\n  --- | ---\r\n  Rules | 1\r\n  Notifications | 2\r\n  Permissions | 4\r\n  Devices | 8\r\n  IPRanges | 16\r\n  Resources | 32\r\n","required":true,"type":"integer","format":"int32","enum":[1,2,4,8,16,32]},{"name":"orgUnitId","in":"query","description":"GUID","required":false,"type":"string","format":"uuid"},{"name":"isFavorite","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/User/{userId}/HasRead":{"get":{"tags":["User"],"operationId":"User_HasReadByuserId","consumes":[],"produces":["application/json"],"parameters":[{"name":"userId","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}}}}},"/User/{userId}/HasWrite":{"get":{"tags":["User"],"operationId":"User_HasWriteByuserId","consumes":[],"produces":["application/json"],"parameters":[{"name":"userId","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}}}}},"/User/{userId}/Summary":{"get":{"tags":["User"],"operationId":"User_LoadSummaryByuserId","consumes":[],"produces":["application/json"],"parameters":[{"name":"userId","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/UserSummaryModel"}}}}},"/User/{userId}":{"get":{"tags":["User"],"operationId":"User_LoadByuserId","consumes":[],"produces":["application/json"],"parameters":[{"name":"userId","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/UserModel"}}}},"put":{"tags":["User"],"operationId":"User_UpdateByuserIdmodel","consumes":["application/json"],"produces":[],"parameters":[{"name":"userId","in":"path","required":true,"type":"string","format":"uuid"},{"name":"model","in":"body","required":true,"schema":{"$ref":"#/definitions/UserUpdateModel"}}],"responses":{"204":{"description":"No Content"}}}},"/User/Kind":{"get":{"tags":["User"],"operationId":"User_Kind","consumes":[],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"format":"int32","enum":[1,2,4,8],"type":"integer"}}}}},"/User/{userId}/Photo":{"get":{"tags":["User"],"operationId":"User_GetPhotoByuserId","consumes":[],"produces":["application/json"],"parameters":[{"name":"userId","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/User/Favorites":{"get":{"tags":["User"],"operationId":"User_LoadFavorites","consumes":[],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/UserSummaryModel"}}}}}},"/User/RoleGroupPermissions":{"get":{"tags":["User"],"operationId":"User_RoleGroupPermissionsForMe","consumes":[],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/RoleGroupUserModel"}}}}}},"/User/RoleGroupPermissions/{userId}":{"get":{"tags":["User"],"operationId":"User_RoleGroupPermissionsForByuserId","consumes":[],"produces":["application/json"],"parameters":[{"name":"userId","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/RoleGroupUserModel"}}}}}},"/User/Trustee/for":{"get":{"tags":["User"],"operationId":"User_LoadTrusteeForMeBywithMe","consumes":[],"produces":["application/json"],"parameters":[{"name":"withMe","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/UserModel"}}}}}},"/User/Trustee/for/{userId}":{"get":{"tags":["User"],"operationId":"User_LoadTrusteeForByuserIdwithUser","consumes":[],"produces":["application/json"],"parameters":[{"name":"userId","in":"path","required":true,"type":"string","format":"uuid"},{"name":"withUser","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/UserModel"}}}}}},"/User/Trustee/of":{"get":{"tags":["User"],"operationId":"User_LoadTrusteeOfMeBywithMe","consumes":[],"produces":["application/json"],"parameters":[{"name":"withMe","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/UserModel"}}}}}},"/User/Trustee/of/{userId}":{"get":{"tags":["User"],"operationId":"User_LoadTrusteeOfByuserIdwithUser","consumes":[],"produces":["application/json"],"parameters":[{"name":"userId","in":"path","required":true,"type":"string","format":"uuid"},{"name":"withUser","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/UserModel"}}}}}},"/User/Trustee/of/{userId}/{trusteeUserId}":{"put":{"tags":["User"],"operationId":"User_AddTrusteeByuserIdtrusteeUserId","consumes":[],"produces":[],"parameters":[{"name":"userId","in":"path","required":true,"type":"string","format":"uuid"},{"name":"trusteeUserId","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"204":{"description":"No Content"}}},"delete":{"tags":["User"],"operationId":"User_RemoveTrusteeByuserIdtrusteeUserId","consumes":[],"produces":[],"parameters":[{"name":"userId","in":"path","required":true,"type":"string","format":"uuid"},{"name":"trusteeUserId","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"204":{"description":"No Content"}}}},"/User/Favorites/{userId}":{"post":{"tags":["User"],"operationId":"User_AddToFavoritesByuserId","consumes":[],"produces":[],"parameters":[{"name":"userId","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"204":{"description":"No Content"}}},"delete":{"tags":["User"],"operationId":"User_RemoveFromFavoritesByuserId","consumes":[],"produces":[],"parameters":[{"name":"userId","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"204":{"description":"No Content"}}}},"/User/TimeZones":{"get":{"tags":["User"],"operationId":"User_LoadTimeZones","consumes":[],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"type":"string"}}}}}},"/UserGeoPosition":{"post":{"tags":["UserGeoPosition"],"operationId":"UserGeoPosition_AddUserGeoPositionsBymodel","consumes":["application/json"],"produces":[],"parameters":[{"name":"model","in":"body","required":true,"schema":{"$ref":"#/definitions/AddUserGeoPositionModel"}}],"responses":{"204":{"description":"No Content"}}}}},"definitions":{"PageResultModel[AlertSummaryModel]":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/definitions/AlertSummaryModel"}},"pageIndex":{"format":"int32","type":"integer"}}},"AlertSummaryModel":{"type":"object","properties":{"id":{"format":"uuid","description":"GUID","type":"string","example":"f4e6ad11-1790-4742-be01-005086438312"},"userId":{"format":"uuid","description":"GUID","type":"string","example":"9d4a2210-9dfc-4555-971f-b6ca7a1a1f35"},"resources":{"type":"array","items":{"$ref":"#/definitions/BaseProviderInstanceResourceModel"}},"comments":{"type":"array","items":{"$ref":"#/definitions/AlertCommentModel"}},"type":{"type":"string"},"titleResourceKey":{"type":"string"},"shortDescriptionResourceKey":{"type":"string"},"longDescriptionResourceKey":{"type":"string"},"resourceArguments":{"type":"object","additionalProperties":{"type":"string"}},"criticality":{"format":"int32","enum":[10,20,30,40],"type":"integer"},"begin":{"format":"date-time","type":"string"},"end":{"format":"date-time","type":"string"},"endUserId":{"format":"uuid","description":"GUID","type":"string","example":"a27f091a-70f4-461b-8ec8-e8c39ab4b7a6"},"creationDate":{"format":"date-time","type":"string"},"modificationDate":{"format":"date-time","type":"string"},"canDismiss":{"type":"boolean"}}},"BaseProviderInstanceResourceModel":{"type":"object","properties":{"providerInstanceResourceId":{"format":"uuid","description":"GUID","type":"string","example":"dffbb9c6-5ada-4143-a52d-0c3f6a672ca2"},"providerId":{"format":"uuid","description":"GUID","type":"string","example":"3ac085e4-c5cd-4b0d-a5bd-46eed266bf45"},"providerTypeId":{"format":"uuid","description":"GUID","type":"string","example":"8e49fc97-6268-46c5-9f64-aeb889e6d61e"},"providerInstanceId":{"format":"uuid","description":"GUID","type":"string","example":"afe769aa-df47-41db-b3bf-f71a6264b067"}}},"AlertCommentModel":{"type":"object","properties":{"comment":{"type":"string"},"user":{"$ref":"#/definitions/ConnectedUserModel"},"actionDate":{"format":"date-time","type":"string"},"isDismissComment":{"type":"boolean"}}},"ConnectedUserModel":{"type":"object","properties":{"userId":{"format":"uuid","description":"GUID","type":"string","example":"c40342b6-30ec-4f7c-859d-9f2d34ec8876"},"isSupportAccount":{"type":"boolean"}}},"AlertCountModel":{"type":"object","properties":{"userId":{"format":"uuid","description":"GUID","type":"string","example":"f0662fe2-76bf-487b-9d06-da905080ec4f"},"Count":{"format":"int32","type":"integer"}}},"AlertAccessFeaturedModel":{"type":"object","properties":{"ownerUserId":{"format":"uuid","description":"GUID","type":"string","example":"eda80dee-2455-4a58-964a-c6b4e450c965"},"loggedUserId":{"format":"uuid","description":"GUID","type":"string","example":"4b714f52-36eb-486a-a7b1-5836c818f8f3"},"audit":{"$ref":"#/definitions/ProviderAuditModel"},"loggedUserActivityStatistics":{"type":"array","items":{"$ref":"#/definitions/UserActivityModel"}},"device":{"$ref":"#/definitions/DeviceMappedModel"},"id":{"format":"uuid","description":"GUID","type":"string","example":"f402bbea-1129-4436-924c-76986f5ef1af"},"userId":{"format":"uuid","description":"GUID","type":"string","example":"627ee3ae-77ee-4613-b928-7ea076056138"},"resources":{"type":"array","items":{"$ref":"#/definitions/BaseProviderInstanceResourceModel"}},"comments":{"type":"array","items":{"$ref":"#/definitions/AlertCommentModel"}},"type":{"type":"string"},"titleResourceKey":{"type":"string"},"shortDescriptionResourceKey":{"type":"string"},"longDescriptionResourceKey":{"type":"string"},"resourceArguments":{"type":"object","additionalProperties":{"type":"string"}},"criticality":{"format":"int32","enum":[10,20,30,40],"type":"integer"},"begin":{"format":"date-time","type":"string"},"end":{"format":"date-time","type":"string"},"endUserId":{"format":"uuid","description":"GUID","type":"string","example":"e7dfbadc-4665-453e-bbcb-75c315b99a73"},"creationDate":{"format":"date-time","type":"string"},"modificationDate":{"format":"date-time","type":"string"},"canDismiss":{"type":"boolean"}}},"ProviderAuditModel":{"type":"object","properties":{"id":{"type":"string"},"accessMode":{"type":"string"},"resourceKind":{"format":"int32","type":"integer"},"resourceUri":{"type":"string"},"action":{"type":"string"},"logonUser":{"type":"string"},"logonUserId":{"type":"string"},"clientIP":{"type":"string"},"clientMachineName":{"type":"string"},"clientDeviceId":{"type":"string"},"actionDate":{"format":"date-time","type":"string"},"alertId":{"format":"uuid","description":"GUID","type":"string","example":"33b25e09-3d41-4a2b-9ee8-c087ebcd375d"},"providerInstanceResourceId":{"format":"uuid","description":"GUID","type":"string","example":"48313e40-ea61-4962-b520-3e09f80c5200"},"providerId":{"format":"uuid","description":"GUID","type":"string","example":"f8a02c75-3296-4c65-ae79-f07b2e388087"},"providerTypeId":{"format":"uuid","description":"GUID","type":"string","example":"f1ef2d9a-5ac0-4535-8238-a0a8fdf03c43"},"providerInstanceId":{"format":"uuid","description":"GUID","type":"string","example":"adc5d379-39ec-411a-8d27-2818736be3ed"}}},"UserActivityModel":{"type":"object","properties":{"accessMode":{"type":"string"},"resourceName":{"type":"string"},"deviceId":{"type":"string"},"deviceName":{"type":"string"},"deviceModel":{"type":"string"},"clientIP":{"type":"string"},"clientIPOrigin":{"type":"string"},"alertId":{"format":"uuid","description":"GUID","type":"string","example":"4a330707-efb2-4ac5-8273-a2e0beddac41"},"lastActionDate":{"format":"date-time","type":"string"},"providerInstanceResourceId":{"format":"uuid","description":"GUID","type":"string","example":"6a622289-e165-4d6d-b43a-9fe849ef690a"},"providerId":{"format":"uuid","description":"GUID","type":"string","example":"2a15dfdf-9624-48af-8fd9-99421c407ce4"},"providerTypeId":{"format":"uuid","description":"GUID","type":"string","example":"999ab54e-8843-4a40-8664-618e21f26ff8"},"providerInstanceId":{"format":"uuid","description":"GUID","type":"string","example":"c2a2ce0f-01f6-4895-a666-9678d85fda60"}}},"DeviceMappedModel":{"type":"object","properties":{"id":{"format":"uuid","description":"GUID","type":"string","example":"a2e5b8c3-8a24-4d91-b0ee-40a484cf83d7"},"userId":{"format":"uuid","description":"GUID","type":"string","example":"4ed9386f-7821-47c7-963c-309b281438f4"},"syncId":{"type":"string"},"name":{"type":"string"},"model":{"type":"string"},"deviceType":{"format":"int32","enum":[0,1,2,3,4],"type":"integer"}}},"AlertAccessEvaluatedRulesModel":{"type":"object","properties":{"evaluatedResourceRules":{"type":"array","items":{"$ref":"#/definitions/RuleEvaluationResultModel"}},"evaluatedUserRules":{"type":"array","items":{"$ref":"#/definitions/RuleEvaluationResultModel"}},"actualEvaluatedResourceRules":{"type":"array","items":{"$ref":"#/definitions/RuleEvaluationResultModel"}},"actualEvaluatedUserRules":{"type":"array","items":{"$ref":"#/definitions/RuleEvaluationResultModel"}}}},"RuleEvaluationResultModel":{"type":"object","properties":{"id":{"format":"uuid","description":"GUID","type":"string","example":"07354fbd-01b8-48d6-b15e-47d821684090"},"userId":{"format":"uuid","description":"GUID","type":"string","example":"cadc21a5-4ef5-4e09-a940-a32afc019b70"},"orgUnitId":{"format":"uuid","description":"GUID","type":"string","example":"6efed80f-8986-4676-98ab-b84977df1e49"},"providerId":{"format":"uuid","description":"GUID","type":"string","example":"fe0ca5e5-f9d1-4053-85aa-8872206d981e"},"providerTypeId":{"format":"uuid","description":"GUID","type":"string","example":"58fb2ac5-15f6-45d3-8732-20f516fc19e8"},"providerInstanceId":{"format":"uuid","description":"GUID","type":"string","example":"d289ad8f-fcf8-45d8-adc2-18b91ca0b302"},"providerInstanceResourceId":{"format":"uuid","description":"GUID","type":"string","example":"bc8f4fce-2abf-415d-bfe8-8c7b3d1650b3"},"name":{"type":"string"},"group":{"format":"int32","enum":[1,2],"type":"integer"},"criticality":{"format":"int32","enum":[10,20,30,40],"type":"integer"},"result":{"type":"boolean"},"weight":{"format":"int32","type":"integer"},"conditionResults":{"type":"array","items":{"$ref":"#/definitions/RulePredicateEvaluationResultModel"}},"exceptionResults":{"type":"array","items":{"$ref":"#/definitions/RulePredicateEvaluationResultModel"}}}},"RulePredicateEvaluationResultModel":{"type":"object","properties":{"humanExpression":{"type":"string"},"result":{"type":"boolean"},"weight":{"format":"int32","type":"integer"}}},"AlertConfigFeaturedModel":{"type":"object","properties":{"adminObject":{"$ref":"#/definitions/ProviderAdminObjectModel"},"reasons":{"type":"array","items":{"$ref":"#/definitions/ProviderAdminObjectThreatReasonModel"}},"id":{"format":"uuid","description":"GUID","type":"string","example":"84a33a4c-1f45-42f0-a9f7-b8dcc9a46692"},"userId":{"format":"uuid","description":"GUID","type":"string","example":"52ea33a0-de1a-4273-9e3a-4228a4e6e732"},"resources":{"type":"array","items":{"$ref":"#/definitions/BaseProviderInstanceResourceModel"}},"comments":{"type":"array","items":{"$ref":"#/definitions/AlertCommentModel"}},"type":{"type":"string"},"titleResourceKey":{"type":"string"},"shortDescriptionResourceKey":{"type":"string"},"longDescriptionResourceKey":{"type":"string"},"resourceArguments":{"type":"object","additionalProperties":{"type":"string"}},"criticality":{"format":"int32","enum":[10,20,30,40],"type":"integer"},"begin":{"format":"date-time","type":"string"},"end":{"format":"date-time","type":"string"},"endUserId":{"format":"uuid","description":"GUID","type":"string","example":"6e2eda43-eee8-44ab-a264-04b797317a0f"},"creationDate":{"format":"date-time","type":"string"},"modificationDate":{"format":"date-time","type":"string"},"canDismiss":{"type":"boolean"}}},"ProviderAdminObjectModel":{"type":"object","properties":{"id":{"type":"string"},"providerInstanceResourceId":{"format":"uuid","description":"GUID","type":"string","example":"0ba35100-f093-47d2-a71c-a8c12a5f9f4c"},"providerInstanceItemId":{"type":"string"},"type":{"format":"int32","type":"integer"},"object":{"type":"string"},"name":{"type":"string"},"dataCreationDate":{"format":"date-time","type":"string"},"dataCollectDate":{"format":"date-time","type":"string"},"dataProcessingDate":{"format":"date-time","type":"string"},"creationDate":{"format":"date-time","type":"string"},"modificationDate":{"format":"date-time","type":"string"},"providerId":{"format":"uuid","description":"GUID","type":"string","example":"b17104ea-ef1c-452e-82f2-f680ca7ab21b"},"providerTypeId":{"format":"uuid","description":"GUID","type":"string","example":"e74d541e-6294-41ee-a43f-c61f5a055d4e"},"providerInstanceId":{"format":"uuid","description":"GUID","type":"string","example":"ec6ffe07-4cb9-48d5-b8c2-75d87a51ca96"}}},"ProviderAdminObjectThreatReasonModel":{"type":"object","properties":{"reasonResourceKey":{"type":"string"},"reasonResourceArguments":{"type":"object","additionalProperties":{"type":"string"}},"criticality":{"format":"int32","enum":[10,20,30,40],"type":"integer"},"creationDate":{"format":"date-time","type":"string"}}},"AlertDismissModel":{"type":"object","properties":{"Comment":{"type":"string"}}},"AlertListDismissModel":{"type":"object","properties":{"alertIds":{"type":"array","items":{"format":"uuid","type":"string"}},"comment":{"type":"string"}}},"AlertAddCommentModel":{"type":"object","properties":{"Comment":{"type":"string"}}},"AlertAddDeviceCommentModel":{"type":"object","properties":{"comment":{"type":"string"},"isAware":{"type":"boolean"},"validUntilDate":{"format":"date-time","type":"string"}}},"OAUTH2Response":{"type":"object","properties":{"token_type":{"type":"string"},"expires_in":{"format":"int64","type":"integer"},"expires_on":{"format":"int64","type":"integer"},"not_before":{"format":"int64","type":"integer"},"resource":{"type":"string"},"access_token":{"type":"string"},"id_token":{"type":"string"},"refresh_token":{"type":"string"}}},"AuthSessionInfoModel":{"type":"object","properties":{"LastAuthenticationProviderId":{"format":"uuid","description":"GUID","type":"string","example":"14ab65c3-9821-45f2-8831-3226998c3c7c"},"lastUserAuthenticationId":{"format":"uuid","description":"GUID","type":"string","example":"0a5e3a84-1c60-4516-9f07-0c2d4e6b63fe"},"lastExpiresDate":{"format":"date-time","type":"string"},"lastActionDate":{"format":"date-time","type":"string"},"lastOriginatingIPAddress":{"type":"string"},"numberOfSessions":{"format":"int64","type":"integer"},"providers":{"type":"array","items":{"format":"uuid","type":"string"}}}},"UserAuthenticationGoogleCreateModel":{"type":"object","properties":{"userId":{"format":"uuid","description":"GUID","type":"string","example":"f1d75304-5ced-4c86-bef9-b67960f0f11c"},"authProviderId":{"format":"uuid","description":"GUID","type":"string","example":"cb1b6a36-2d8c-4455-ace4-6d653233ddbd"},"authProviderInstanceId":{"format":"uuid","description":"GUID","type":"string","example":"3143decf-770b-4e8d-a7a0-1637f94a2d0d"}}},"UserAuthenticationModel":{"type":"object","properties":{"id":{"format":"uuid","description":"GUID","type":"string","example":"f3ab53e9-d727-4882-9f33-6b74dd3ee6da"},"userId":{"format":"uuid","description":"GUID","type":"string","example":"c9abc91c-b77c-472d-8609-e8444b044f9f"},"authProviderId":{"format":"uuid","description":"GUID","type":"string","example":"324f49c5-ee7a-4957-a345-f54bcbf7694e"},"authProviderInstanceId":{"format":"uuid","description":"GUID","type":"string","example":"a1fb2767-2f2d-40de-8514-e8a570f2ad23"}}},"UserAuthenticationLocalCreateModel":{"type":"object","properties":{"password":{"type":"string"},"passwordQuestion":{"type":"string"},"passwordAnswer":{"type":"string"},"userId":{"format":"uuid","description":"GUID","type":"string","example":"e375ff67-c450-485e-8c26-fced648ec053"},"authProviderId":{"format":"uuid","description":"GUID","type":"string","example":"a86d7683-6b26-4a04-b952-2b6f44f148c3"},"authProviderInstanceId":{"format":"uuid","description":"GUID","type":"string","example":"41e5f27f-e1a8-4c68-9bdd-3f590104ff6a"}}},"ChangePasswordModel":{"type":"object","properties":{"email":{"type":"string"},"oldPassword":{"type":"string"},"newPassword":{"type":"string"}}},"ResetPasswordModel":{"type":"object","properties":{"oldPassword":{"format":"uuid","description":"GUID","type":"string","example":"4d1bb3e5-cfc1-4ec5-a963-24fcd45a805f"},"sendEMail":{"type":"boolean"}}},"DeviceModel":{"type":"object","properties":{"id":{"format":"uuid","description":"GUID","type":"string","example":"9af68cb2-2bb4-42be-9ff8-b89f3d4309fc"},"userId":{"format":"uuid","description":"GUID","type":"string","example":"c867136b-cbbb-4d6f-a612-8413388be239"},"name":{"type":"string"}}},"ExchangeProtectResourcesModel":{"type":"object","properties":{"identities":{"type":"array","items":{"type":"string"}},"learningDuration":{"type":"string"},"defaultCulture":{"type":"string"},"defaultTimeZone":{"type":"string"},"orgUnitId":{"format":"uuid","description":"GUID","type":"string","example":"e470f728-6c4b-4b31-b717-3e7d2657e777"},"sendPasswordEmailToUsers":{"type":"boolean"}}},"IPRangeModel":{"type":"object","properties":{"id":{"format":"uuid","description":"GUID","type":"string","example":"1767b09f-cadb-4e5e-8a7e-51b37250c72b"},"userId":{"format":"uuid","description":"GUID","type":"string","example":"ea9e42f5-12c5-4d87-a505-390d825f737f"},"orgUnitId":{"format":"uuid","description":"GUID","type":"string","example":"8df9509e-34a3-4e6f-9bc1-163d6d6a12ee"},"isSystem":{"type":"boolean"},"name":{"type":"string"},"ranges":{"type":"array","items":{"$ref":"#/definitions/IPAddressRangeModel"}},"position":{"$ref":"#/definitions/GeoPositionModel"},"address":{"$ref":"#/definitions/AddressModel"}}},"IPAddressRangeModel":{"type":"object","properties":{"begin":{"type":"string"},"end":{"type":"string"}}},"GeoPositionModel":{"type":"object","properties":{"latitude":{"format":"double","type":"number"},"longitude":{"format":"double","type":"number"},"altitude":{"format":"double","type":"number"},"horizontalAccuracy":{"format":"double","type":"number"},"verticalAccuracy":{"format":"double","type":"number"},"speed":{"format":"double","type":"number"},"course":{"format":"double","type":"number"}}},"AddressModel":{"type":"object","properties":{"addressLines":{"type":"array","items":{"type":"string"}},"state":{"type":"string"},"locality":{"type":"string"},"postalCode":{"type":"string"},"country":{"type":"string"}}},"IPRangeCreateOrUpdateModel":{"type":"object","properties":{"name":{"type":"string"},"ranges":{"type":"array","items":{"$ref":"#/definitions/IPAddressRangeModel"}},"position":{"$ref":"#/definitions/GeoPositionModel"},"address":{"$ref":"#/definitions/AddressModel"}}},"PageResultModel[IPRangeModel]":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/definitions/IPRangeModel"}},"pageIndex":{"format":"int32","type":"integer"}}},"Log":{"type":"object","properties":{"Id":{"format":"uuid","description":"GUID","type":"string","example":"9c220d0e-cfc9-48c4-9842-9337383aa2c4"},"Type":{"format":"int32","enum":[1,2,3],"type":"integer"},"Level":{"format":"int32","enum":[10,20,30,40],"type":"integer"},"Application":{"type":"string"},"Host":{"type":"string"},"Identity":{"type":"string"},"Summary":{"type":"string"},"Message":{"type":"string"},"ActionDate":{"format":"date-time","type":"string"}}},"Metric":{"type":"object","properties":{"Id":{"format":"uuid","description":"GUID","type":"string","example":"eb81f775-d24c-4095-bb92-7069a709c927"},"Kind":{"type":"string"},"OriginatingServer":{"type":"string"},"Type":{"type":"string"},"TotalCount":{"format":"double","type":"number"},"MinValue":{"format":"double","type":"number"},"MaxValue":{"format":"double","type":"number"},"TotalValue":{"format":"double","type":"number"},"CompletedCount":{"format":"double","type":"number"},"FailedCount":{"format":"double","type":"number"},"ActionDate":{"format":"date-time","type":"string"},"Host":{"type":"string"}}},"MicrosoftOfficeConfiguration":{"type":"object","properties":{"ProviderInstanceId":{"format":"uuid","description":"GUID","type":"string","example":"6801146e-8af3-430e-b62e-8ff1ccb095d4"},"Name":{"type":"string"},"Domain":{"type":"string"},"Username":{"type":"string"},"Password":{"type":"string"},"RetrievePhoto":{"type":"boolean"},"O365TenantId":{"format":"uuid","description":"GUID","type":"string","example":"6561d41c-673c-411b-8ced-65d04fed4219"},"O365AccessToken":{"type":"string"},"O365TokenExpiration":{"format":"date-time","type":"string"},"ExchangeConfiguration":{"$ref":"#/definitions/ExchangeConfiguration"},"OneDriveConfiguration":{"$ref":"#/definitions/OneDriveConfiguration"},"SharePointConfiguration":{"$ref":"#/definitions/SharePointConfiguration"}}},"ExchangeConfiguration":{"type":"object","properties":{"Version":{"format":"int32","enum":[1,2,3,4,20],"type":"integer"},"AuthenticationMethod":{"format":"int32","enum":[0,1,2,3,4,5,6],"type":"integer"},"ProxyAccessType":{"format":"int32","enum":[0,1,2,4,8],"type":"integer"},"PowerShellURI":{"type":"string"},"Servers":{"type":"array","items":{"type":"string"}},"IsInMultiForestEnvironment":{"type":"boolean"},"RunspaceMinSize":{"format":"int32","type":"integer"},"RunspaceMaxSize":{"format":"int32","type":"integer"},"OperationTimeOut":{"type":"string"},"UsePowerShellToActivateAudit":{"type":"boolean"},"RetrieveLimitSize":{"format":"int32","type":"integer"},"RetrieveSlideWindow":{"type":"string"},"MailboxCollectPolicies":{"type":"object","additionalProperties":{"$ref":"#/definitions/ExchangeAuditingPolicyConfiguration"}},"AdminObjectCollectPolicies":{"type":"object","properties":{"AdminAudit":{"$ref":"#/definitions/DataCollectPolicy"},"AdminAuditConfig":{"$ref":"#/definitions/DataCollectPolicy"},"ActiveSyncMailboxPolicy":{"$ref":"#/definitions/DataCollectPolicy"},"MailboxDatabase":{"$ref":"#/definitions/DataCollectPolicy"},"DatabaseAvailabilityGroup":{"$ref":"#/definitions/DataCollectPolicy"},"Mailbox":{"$ref":"#/definitions/DataCollectPolicy"},"MailboxPermission":{"$ref":"#/definitions/DataCollectPolicy"},"MailboxAuditBypassAssociation":{"$ref":"#/definitions/DataCollectPolicy"},"MailboxExportRequest":{"$ref":"#/definitions/DataCollectPolicy"},"MailboxFoldersPermission":{"$ref":"#/definitions/DataCollectPolicy"},"MailboxStatistics":{"$ref":"#/definitions/DataCollectPolicy"},"DistributionGroup":{"$ref":"#/definitions/DataCollectPolicy"},"TransportRule":{"$ref":"#/definitions/DataCollectPolicy"},"JournalRule":{"$ref":"#/definitions/DataCollectPolicy"},"InboxRule":{"$ref":"#/definitions/DataCollectPolicy"},"ActiveSyncDevice":{"$ref":"#/definitions/DataCollectPolicy"},"SendConnector":{"$ref":"#/definitions/DataCollectPolicy"},"RemoteDomain":{"$ref":"#/definitions/DataCollectPolicy"},"AcceptedDomain":{"$ref":"#/definitions/DataCollectPolicy"},"MessageTrace":{"$ref":"#/definitions/DataCollectPolicy"}}},"AdminAuditLogAgeLimit":{"type":"string"},"AdminAuditLogExcludedCmdlets":{"type":"array","items":{"type":"string"}}}},"OneDriveConfiguration":{"type":"object","properties":{}},"SharePointConfiguration":{"type":"object","properties":{"Version":{"format":"int32","enum":[1,2,3,4,20],"type":"integer"},"BaseURL":{"type":"string"}}},"ExchangeAuditingPolicyConfiguration":{"type":"object","properties":{"LogRetention":{"type":"string"},"OwnerAuditLevel":{"format":"int32","enum":[0,1,2,4,8,16,32,64,128,256,512,1024,2048],"type":"integer"},"DelegateAuditLevel":{"format":"int32","enum":[0,1,2,4,8,16,32,64,128,256,512,1024,2048],"type":"integer"},"AdminAuditLevel":{"format":"int32","enum":[0,1,2,4,8,16,32,64,128,256,512,1024,2048],"type":"integer"},"CollectMailSubject":{"type":"boolean"},"AdminObjectCollectPolicies":{"type":"object","properties":{"AdminAudit":{"$ref":"#/definitions/DataCollectPolicy"},"AdminAuditConfig":{"$ref":"#/definitions/DataCollectPolicy"},"ActiveSyncMailboxPolicy":{"$ref":"#/definitions/DataCollectPolicy"},"MailboxDatabase":{"$ref":"#/definitions/DataCollectPolicy"},"DatabaseAvailabilityGroup":{"$ref":"#/definitions/DataCollectPolicy"},"Mailbox":{"$ref":"#/definitions/DataCollectPolicy"},"MailboxPermission":{"$ref":"#/definitions/DataCollectPolicy"},"MailboxAuditBypassAssociation":{"$ref":"#/definitions/DataCollectPolicy"},"MailboxExportRequest":{"$ref":"#/definitions/DataCollectPolicy"},"MailboxFoldersPermission":{"$ref":"#/definitions/DataCollectPolicy"},"MailboxStatistics":{"$ref":"#/definitions/DataCollectPolicy"},"DistributionGroup":{"$ref":"#/definitions/DataCollectPolicy"},"TransportRule":{"$ref":"#/definitions/DataCollectPolicy"},"JournalRule":{"$ref":"#/definitions/DataCollectPolicy"},"InboxRule":{"$ref":"#/definitions/DataCollectPolicy"},"ActiveSyncDevice":{"$ref":"#/definitions/DataCollectPolicy"},"SendConnector":{"$ref":"#/definitions/DataCollectPolicy"},"RemoteDomain":{"$ref":"#/definitions/DataCollectPolicy"},"AcceptedDomain":{"$ref":"#/definitions/DataCollectPolicy"},"MessageTrace":{"$ref":"#/definitions/DataCollectPolicy"}}},"IsEnabled":{"type":"boolean"},"CollectInterval":{"type":"string"},"CollectDays":{"type":"array","items":{"format":"int32","enum":[0,1,2,3,4,5,6],"type":"integer"}},"CollectTimeOfDay":{"type":"string"}}},"DataCollectPolicy":{"type":"object","properties":{"IsEnabled":{"type":"boolean"},"CollectInterval":{"type":"string"},"CollectDays":{"type":"array","items":{"format":"int32","enum":[0,1,2,3,4,5,6],"type":"integer"}},"CollectTimeOfDay":{"type":"string"}}},"NotificationPushRegistrationModel":{"type":"object","properties":{"registrationId":{"type":"string"},"handle":{"type":"string"},"platform":{"format":"int32","type":"integer"},"tags":{"type":"array","items":{"type":"string"}}}},"NotificationPushRegistrationInfoModel":{"type":"object","properties":{"expirationTime":{"format":"date-time","type":"string"},"eTag":{"type":"string"},"registrationId":{"type":"string"},"handle":{"type":"string"},"platform":{"format":"int32","type":"integer"},"tags":{"type":"array","items":{"type":"string"}}}},"OperationBaseModel":{"type":"object","properties":{"operationId":{"format":"uuid","description":"GUID","type":"string","example":"02a642a2-ae31-4095-943f-90d61577460e"},"providerId":{"format":"uuid","description":"GUID","type":"string","example":"23d9296d-8b41-479a-a500-1c0317b7e7f0"},"providerTypeId":{"format":"uuid","description":"GUID","type":"string","example":"90b412b7-9742-4a7b-a616-c2508ee04c61"},"providerInstanceId":{"format":"uuid","description":"GUID","type":"string","example":"d281bb01-ffa4-4bf3-a196-7dd49d7c8fde"},"connectedUser":{"$ref":"#/definitions/ConnectedUserModel"},"affectedItems":{"type":"array","items":{"$ref":"#/definitions/OperationItemModel"}},"status":{"format":"int32","enum":[2,3,5,6,7],"type":"integer"},"exception":{"$ref":"#/definitions/FunctionalExceptionModel"},"creationDate":{"format":"date-time","type":"string"},"modificationDate":{"format":"date-time","type":"string"}}},"OperationItemModel":{"type":"object","properties":{"requestName":{"type":"string"},"providerInstanceResourceId":{"format":"uuid","description":"GUID","type":"string","example":"3f3f2b3c-e8d2-40e5-b20e-1f0fd8d80b03"},"userId":{"format":"uuid","description":"GUID","type":"string","example":"89562f39-cc6f-424b-aaa9-95c2a88d2ec4"},"exception":{"$ref":"#/definitions/FunctionalExceptionModel"}}},"FunctionalExceptionModel":{"type":"object","properties":{"ExceptionType":{"type":"string"},"ExceptionMessage":{"type":"string"},"StackTrace":{"type":"string"},"FuncData":{"type":"object","additionalProperties":{"type":"object"}},"InnerException":{"$ref":"#/definitions/FunctionalExceptionModel"}}},"PageResultModel[CollectedResourceModel]":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/definitions/CollectedResourceModel"}},"pageIndex":{"format":"int32","type":"integer"}}},"CollectedResourceModel":{"type":"object","properties":{"name":{"type":"string"},"isPermanentAuditing":{"type":"boolean"},"isRealTimeProcessing":{"type":"boolean"},"isInLearning":{"type":"boolean"},"isAudited":{"type":"boolean"},"providerInstanceResourceId":{"format":"uuid","description":"GUID","type":"string","example":"98d7c561-66bf-42d6-8652-94e61a342e0c"},"providerId":{"format":"uuid","description":"GUID","type":"string","example":"70ab9666-974d-4b15-a0df-5e8e29c7c7f1"},"providerTypeId":{"format":"uuid","description":"GUID","type":"string","example":"c231018f-3c0b-4335-a85b-e319409e0a59"},"providerInstanceId":{"format":"uuid","description":"GUID","type":"string","example":"6c35a6a4-1ec9-44c3-9017-21d56eda554e"}}},"ProviderInstanceCoupleCollectedModel":{"type":"object","properties":{"providerInstance":{"$ref":"#/definitions/ProviderInstanceModel"},"collectedResources":{"type":"array","items":{"$ref":"#/definitions/CollectedResourceModel"}}}},"ProviderInstanceModel":{"type":"object","properties":{"providerId":{"format":"uuid","description":"GUID","type":"string","example":"60650dff-3129-4fdb-818c-02fab11b62b1"},"providerInstanceId":{"format":"uuid","description":"GUID","type":"string","example":"911f6fc8-1c56-4b43-91a6-c70ad931fc4d"},"providerTypes":{"type":"array","items":{"format":"uuid","type":"string"}},"name":{"type":"string"}}},"UserModel":{"type":"object","properties":{"orgUnitId":{"format":"uuid","description":"GUID","type":"string","example":"5c5e65de-666c-4911-b1d0-c64af237bc19"},"firstName":{"type":"string"},"lastName":{"type":"string"},"email":{"type":"string"},"providerEmails":{"type":"array","items":{"type":"string"}},"phone":{"type":"string"},"timeZoneId":{"type":"string"},"timeZoneNoda":{"type":"string"},"culture":{"type":"string"},"id":{"format":"uuid","description":"GUID","type":"string","example":"84edfe22-831c-46d5-b2b3-bafbbdee5f1f"},"tenantId":{"format":"uuid","description":"GUID","type":"string","example":"33535527-ff3c-4260-89cf-7c81d3535833"},"fullName":{"type":"string"}}},"ProviderInstanceStatisticsModel":{"type":"object","properties":{"resourcesCount":{"format":"int32","type":"integer"},"permanentAuditingCount":{"format":"int32","type":"integer"},"realTimeProcessingCount":{"format":"int32","type":"integer"},"inLearningCount":{"format":"int32","type":"integer"},"auditingCount":{"format":"int32","type":"integer"}}},"ProviderInstanceUserModel":{"type":"object","properties":{"providerId":{"format":"uuid","description":"GUID","type":"string","example":"52ba223f-f519-4560-91df-68f09779ce10"},"providerInstanceId":{"format":"uuid","description":"GUID","type":"string","example":"3a71b456-379a-412c-b76d-99403520ea7b"},"providerInstanceResourceId":{"format":"uuid","description":"GUID","type":"string","example":"65dc5925-6c7d-4bfc-9435-b214c389775a"},"userId":{"format":"uuid","description":"GUID","type":"string","example":"fa8a30c8-29c5-4788-8fb4-8b69706a2445"},"name":{"type":"string"},"email":{"type":"string"},"photo":{"format":"byte","type":"string"}}},"ProviderAdminObjectCreateEntity":{"type":"object","properties":{"ProviderInstanceResourceId":{"format":"uuid","description":"GUID","type":"string","example":"07b44c7f-aa74-458b-bcb6-747dd6ce3ecb"},"ProviderInstanceItemId":{"type":"string"},"Type":{"format":"int32","type":"integer"},"Object":{"$ref":"#/definitions/ObjectSerialization"},"DataCreationDate":{"format":"date-time","type":"string"},"DataCollectDate":{"format":"date-time","type":"string"},"DataPendingStorageDate":{"format":"date-time","type":"string"},"ProviderId":{"format":"uuid","description":"GUID","type":"string","example":"0cdec716-bc6d-4467-a968-bc54f7cef78d"},"ProviderTypeId":{"format":"uuid","description":"GUID","type":"string","example":"89e4ae4a-d1b1-4f91-ab83-b273d6dcc035"},"ProviderInstanceId":{"format":"uuid","description":"GUID","type":"string","example":"f534d3fb-0f3b-433b-bcfa-5ac2e095c837"}}},"ObjectSerialization":{"type":"object","properties":{"version":{"format":"int32","type":"integer"},"mode":{"format":"int32","enum":[1,2],"type":"integer"},"isCompressed":{"type":"boolean"},"objectType":{"type":"string"},"object":{"type":"string"}}},"PageResultModel[ProviderAdminObjectModel]":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/definitions/ProviderAdminObjectModel"}},"pageIndex":{"format":"int32","type":"integer"}}},"ProviderAdminObjectHistorySummaryModel":{"type":"object","properties":{"Id":{"format":"uuid","description":"GUID","type":"string","example":"06abb391-1f2f-46fb-870a-c286beaa4a57"},"ProviderAdminObjectId":{"type":"string"},"ModificationDate":{"format":"date-time","type":"string"}}},"ProviderAuditCreateEntity":{"type":"object","properties":{"AccessMode":{"type":"string"},"ResourceKind":{"format":"int32","enum":[1,2,3,4],"type":"integer"},"ResourceItemUri":{"type":"string"},"Action":{"type":"string"},"LogonUser":{"type":"string"},"LogonUserId":{"type":"string"},"ClientIP":{"type":"string"},"ClientMachineName":{"type":"string"},"ClientDeviceId":{"type":"string"},"OriginatingSource":{"type":"string"},"OriginatingServer":{"type":"string"},"ActionDate":{"format":"date-time","type":"string"},"DataCreationDate":{"format":"date-time","type":"string"},"DataCollectDate":{"format":"date-time","type":"string"},"DataPendingStorageDate":{"format":"date-time","type":"string"},"PivotAuditComplement":{"$ref":"#/definitions/ObjectSerialization"},"OriginalAudit":{"$ref":"#/definitions/ObjectSerialization"},"ProviderInstanceItemId":{"type":"string"},"ProviderInstanceResourceId":{"format":"uuid","description":"GUID","type":"string","example":"b664ba19-b4da-4d9e-9cd1-f20c91dac705"},"ProviderId":{"format":"uuid","description":"GUID","type":"string","example":"ae676eba-4cb8-415b-ae2e-6c9c63ede21d"},"ProviderTypeId":{"format":"uuid","description":"GUID","type":"string","example":"fe155e1b-3921-4fd0-911e-b9031037aea7"},"ProviderInstanceId":{"format":"uuid","description":"GUID","type":"string","example":"8abdb139-1e82-4055-9af6-68e2e5f3caa1"}}},"ProviderAuditUsageStatisticsModel":{"type":"object","properties":{"accessMode":{"type":"string"},"count":{"format":"int32","type":"integer"},"actionDate":{"format":"date-time","type":"string"}}},"ResourceActivityModel":{"type":"object","properties":{"accessMode":{"type":"string"},"logonUserName":{"type":"string"},"logonUserId":{"type":"string"},"loggedUserId":{"format":"uuid","description":"GUID","type":"string","example":"061293fc-68a8-4fce-87b1-dbab2f98ee35"},"device":{"$ref":"#/definitions/DeviceMappedModel"},"clientIP":{"type":"string"},"clientIPOrigin":{"type":"string"},"alertId":{"format":"uuid","description":"GUID","type":"string","example":"fb63066a-f4c3-4822-aee9-9ba1e20c29fd"},"lastActionDate":{"format":"date-time","type":"string"},"providerInstanceResourceId":{"format":"uuid","description":"GUID","type":"string","example":"2add8716-1224-4d52-af70-070791ac5408"},"providerId":{"format":"uuid","description":"GUID","type":"string","example":"f20b130b-7663-4434-b352-76ee016ea978"},"providerTypeId":{"format":"uuid","description":"GUID","type":"string","example":"53fbed78-40c6-403b-bb95-156a508aa354"},"providerInstanceId":{"format":"uuid","description":"GUID","type":"string","example":"723d2a8f-b3f7-435f-999a-09e9659c21d3"}}},"PageResultModel[ProviderAuditCompleteModel]":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/definitions/ProviderAuditCompleteModel"}},"pageIndex":{"format":"int32","type":"integer"}}},"ProviderAuditCompleteModel":{"type":"object","properties":{"pivotComplement":{"type":"string"},"originalAudit":{"type":"string"},"id":{"type":"string"},"accessMode":{"type":"string"},"resourceKind":{"format":"int32","type":"integer"},"resourceUri":{"type":"string"},"action":{"type":"string"},"logonUser":{"type":"string"},"logonUserId":{"type":"string"},"clientIP":{"type":"string"},"clientMachineName":{"type":"string"},"clientDeviceId":{"type":"string"},"actionDate":{"format":"date-time","type":"string"},"alertId":{"format":"uuid","description":"GUID","type":"string","example":"3e295b1c-7f96-4016-a69e-9489b1331c40"},"providerInstanceResourceId":{"format":"uuid","description":"GUID","type":"string","example":"f97bcf70-375a-4625-a02e-51366414f982"},"providerId":{"format":"uuid","description":"GUID","type":"string","example":"f9caec58-c4f5-4cad-8d54-b842405f375d"},"providerTypeId":{"format":"uuid","description":"GUID","type":"string","example":"d986b4ca-8b1d-4b81-aff1-0a8a335d9511"},"providerInstanceId":{"format":"uuid","description":"GUID","type":"string","example":"096ae781-b39b-462e-8292-417f06370f0e"}}},"WorkerConfiguration":{"type":"object","properties":{"Tenants":{"type":"array","items":{"$ref":"#/definitions/TenantSummary"}},"Tasks":{"type":"array","items":{"$ref":"#/definitions/WorkerTaskConfiguration"}},"CrossTaskConfigurations":{"type":"array","items":{"$ref":"#/definitions/WorkerCrossTaskConfiguration"}},"Timestamp":{"format":"date-time","type":"string"}}},"TenantSummary":{"type":"object","properties":{"Id":{"format":"uuid","description":"GUID","type":"string","example":"a8489c01-ce4d-4158-9770-35922ea48dc3"},"Name":{"type":"string"},"Code":{"type":"string"},"Hosts":{"type":"array","items":{"$ref":"#/definitions/KeyValuePair[ComponentPosition,String]"}}}},"WorkerTaskConfiguration":{"type":"object","properties":{"TaskId":{"format":"uuid","description":"GUID","type":"string","example":"4d2c3819-4829-4d60-b71e-d1a0f186a441"},"TenantId":{"format":"uuid","description":"GUID","type":"string","example":"6d9be5d2-6b05-4f53-9a50-849192d18fb1"},"ConfigurationElements":{"type":"object","additionalProperties":{"type":"string"}},"Context":{"$ref":"#/definitions/ObjectSerialization"}}},"WorkerCrossTaskConfiguration":{"type":"object","properties":{"ConfigurationId":{"format":"uuid","description":"GUID","type":"string","example":"fb1880b7-1e86-4fea-97b9-ce5827335b0b"},"TenantId":{"format":"uuid","description":"GUID","type":"string","example":"ac146ad7-f843-4d38-a073-d8684b0cce19"},"Configuration":{"$ref":"#/definitions/ObjectSerialization"}}},"KeyValuePair[ComponentPosition,String]":{"type":"object","properties":{"key":{"format":"int32","enum":[1,16,32,512,1024,2048],"type":"integer"},"value":{"type":"string"}}},"ScheduledTaskItem":{"type":"object","properties":{"Id":{"format":"uuid","description":"GUID","type":"string","example":"95f401a0-3af2-4c64-9d5c-00fde707074f"},"Kind":{"type":"string"},"Category":{"type":"string"},"Identity":{"type":"string"},"Name":{"type":"string"},"IsEnabled":{"type":"boolean"},"Interval":{"type":"string"},"Days":{"type":"array","items":{"format":"int32","enum":[0,1,2,3,4,5,6],"type":"integer"}},"TimeOfDay":{"type":"string"},"IsRepeating":{"type":"boolean"},"IsWorking":{"type":"boolean"},"NextStart":{"format":"date-time","type":"string"},"LastWorkingHeartBeat":{"format":"date-time","type":"string"},"LastStart":{"format":"date-time","type":"string"},"LastSuccessEnd":{"format":"date-time","type":"string"},"FailedCount":{"format":"int32","type":"integer"},"Context":{"$ref":"#/definitions/ObjectSerialization"},"KeepAsHistory":{"type":"boolean"},"CreationDate":{"format":"date-time","type":"string"},"ModificationDate":{"format":"date-time","type":"string"}}},"FindResourceRequestResult":{"type":"object","properties":{"RequestId":{"format":"uuid","description":"GUID","type":"string","example":"306c71e8-f2e2-486e-b147-f55ac4e9a249"},"Results":{"type":"array","items":{"$ref":"#/definitions/FindResourceResultItem"}}}},"FindResourceResultItem":{"type":"object","properties":{"Identity":{"type":"string"},"Result":{"$ref":"#/definitions/ObjectSerialization"},"Exception":{"$ref":"#/definitions/FunctionalExceptionModel"}}},"RoleGroupCreateOrUpdateModel":{"type":"object","properties":{"name":{"type":"string"},"description":{"type":"string"},"orgUnits":{"type":"array","items":{"format":"uuid","type":"string"}},"users":{"type":"array","items":{"format":"uuid","type":"string"}},"roles":{"format":"int32","type":"integer"}}},"RoleGroupModel":{"type":"object","properties":{"id":{"format":"uuid","description":"GUID","type":"string","example":"2a8f800d-4b61-4834-abf1-179da38701df"},"name":{"type":"string"},"description":{"type":"string"},"orgUnits":{"type":"array","items":{"format":"uuid","type":"string"}},"users":{"type":"array","items":{"format":"uuid","type":"string"}},"roles":{"format":"int32","type":"integer"}}},"RuleModel":{"type":"object","properties":{"id":{"format":"uuid","description":"GUID","type":"string","example":"2fd0af9d-e1c3-412b-b5a1-81095fc03aa4"},"userId":{"format":"uuid","description":"GUID","type":"string","example":"119b7058-ff8d-48c9-9693-ecf2f7b7c276"},"orgUnitId":{"format":"uuid","description":"GUID","type":"string","example":"8380c42d-793d-45cc-abb6-33eae30c5aac"},"providerId":{"format":"uuid","description":"GUID","type":"string","example":"0d965939-a602-46ae-8626-1baa7764c86f"},"providerTypeId":{"format":"uuid","description":"GUID","type":"string","example":"e4246266-c85a-495b-b65b-530c22e289ad"},"providerInstanceId":{"format":"uuid","description":"GUID","type":"string","example":"a8c49cb8-8914-43f4-bc08-12623c3195eb"},"providerInstanceResourceId":{"format":"uuid","description":"GUID","type":"string","example":"bd1edc88-9f5e-47d7-86eb-0f9ab70dbdba"},"inheritance":{"format":"int32","enum":[1,2],"type":"integer"},"status":{"format":"int32","enum":[0,1,16,32],"type":"integer"},"domain":{"format":"int32","enum":[1,2],"type":"integer"},"name":{"type":"string"},"criticality":{"format":"int32","enum":[10,20,30,40],"type":"integer"},"group":{"format":"int32","enum":[1,2],"type":"integer"},"isInherited":{"type":"boolean"},"startDate":{"format":"date-time","type":"string"},"endDate":{"format":"date-time","type":"string"},"conditions":{"type":"object","additionalProperties":{"type":"string"}},"exceptions":{"type":"object","additionalProperties":{"type":"string"}},"humanExpression":{"type":"string"}}},"RuleUpdateModel":{"type":"object","properties":{"name":{"type":"string"},"criticality":{"format":"int32","enum":[10,20,30,40],"type":"integer"},"endDate":{"format":"date-time","type":"string"},"conditions":{"type":"object","additionalProperties":{"type":"string"}},"exceptions":{"type":"object","additionalProperties":{"type":"string"}}}},"RuleSummaryModel":{"type":"object","properties":{"id":{"form
[...]
